<script type="text/javascript">
$(function() {
  window.md = new Markdown.Converter();

  var project = new Fulcrum.Project({"project":{"iteration_length":1,"last_changeset_id":123,"iteration_start_day":1,"point_values":[0,1,2,3,5,8],"default_velocity":10,"id":999999,"start_date":"2012/03/08"}});
  project.users.reset([{"user":{"name":"Test User","email":"test@example.com","initials":"TU","id":1}}]);
  project.current_user = new Fulcrum.User({"user":{"name":"Test User","email":"test@example.com","initials":"TU","id":1}});

  project.stories.fetch = function() {};
  window.project = project;



  var doneColumn = new Fulcrum.ColumnView({
    id: 'done', name: '<%= t('.done') %>', el: $('td.done_column'), sortable: false
  }).render();
  $('#column-toggles').append(
    new Fulcrum.ColumnVisibilityButtonView({columnView: doneColumn}).render().el
  );

  var inProgressColumn = new Fulcrum.ColumnView({
    id: 'in_progress', name: '<%= t('.in_progress') %>', el: $('td.in_progress_column'),
    sortable: true
  }).render();
  $('#column-toggles').append(
    new Fulcrum.ColumnVisibilityButtonView({columnView: inProgressColumn}).render().el
  );

  var backlogColumn = new Fulcrum.ColumnView({
    id: 'backlog', name: '<%= t('.backlog') %>', el: $('td.backlog_column'), sortable: true
  }).render();
  $('#column-toggles').append(
    new Fulcrum.ColumnVisibilityButtonView({columnView: backlogColumn}).render().el
  );

  var chillyBinColumn = new Fulcrum.ColumnView({
    id: 'chilly_bin', name: '<%= t('.icebox') %>', el: $('td.chilly_bin_column'),
    sortable: true
  }).render();
  $('#column-toggles').append(
    new Fulcrum.ColumnVisibilityButtonView({columnView: chillyBinColumn, elementId: 'chilly_bin'}).render().el
  );

  // FIXME Move to view
  // Connect up drag and drop behaviour
  $('#backlog').sortable('option', 'connectWith', '#chilly_bin,#in_progress');
  $('#chilly_bin').sortable('option', 'connectWith', '#backlog,#in_progress');
  $('#in_progress').sortable('option', 'connectWith', '#backlog,#chilly_bin');


  var view;
  appendStoryTo(chillyBinColumn, {"title":"Unestimated feature"});
  appendStoryTo(chillyBinColumn, {"title":"Estimated feature","estimate":3});
  appendStoryTo(chillyBinColumn, {"title":"Example chore","story_type":"chore"});
  appendStoryTo(chillyBinColumn, {"title":"Example bug","story_type":"bug"});
  appendStoryTo(chillyBinColumn, {"title":"Example release","story_type":"release"});

  view = appendStoryTo(chillyBinColumn, {"title":"Save in progress","estimate":3});
  view.saveInProgress = true;
  view.render();
  view.disableForm();

  appendStoryTo(chillyBinColumn, {"title":"Editing feature","editing":true});
  appendStoryTo(chillyBinColumn, {
    "title":"Editing chore","story_type":"chore","editing":true
  });
  appendStoryTo(chillyBinColumn, {
    "title":"Editing bug","story_type":"bug","editing":true
  });
  appendStoryTo(chillyBinColumn, {
    "title":"Editing release","story_type":"release","editing":true
  });

  appendStoryTo(backlogColumn, {"title":"Unestimated feature"});
  appendStoryTo(backlogColumn, {"title":"Estimated feature","estimate":3});
  appendStoryTo(backlogColumn, {"title":"Example chore","story_type":"chore"});
  appendStoryTo(backlogColumn, {"title":"Example bug","story_type":"bug"});
  appendStoryTo(backlogColumn, {"title":"Example release","story_type":"release"});
  appendStoryTo(backlogColumn, {"title":"Estimated feature","estimate":3});
  view = appendStoryTo(backlogColumn, {
    "title":"Save in progress","story_type":"release","editing":true
  });
  view.saveInProgress = true;
  view.render();
  view.disableForm();

  appendStoryTo(inProgressColumn, {
    "title":"Started feature","state":"started","estimate":1
  });
  appendStoryTo(inProgressColumn, {
    "title":"Finished feature","state":"finished", "estimate":2
  });
  appendStoryTo(inProgressColumn, {
    "title":"Delivered feature","estimate":5, "state":"delivered"
  });
  appendStoryTo(inProgressColumn, {
    "title":"Rejected feature","estimate":8, "state": "rejected"
  });
  appendStoryTo(inProgressColumn, {"title":"Example chore","story_type":"chore"});
  appendStoryTo(inProgressColumn, {"title":"Example bug","story_type":"bug"});
  appendStoryTo(inProgressColumn, {"title":"Example release","story_type":"release"});

  appendIterationTo(doneColumn, new Fulcrum.Iteration({'number':1, stories:[]}));

  function appendStoryTo(columnView, storyAttributes, view) {

    // Increment the ID on each invocation
    if (typeof appendStoryTo.id == 'undefined') {
      appendStoryTo.id = 1;
    }
    storyAttributes.id = appendStoryTo.id++;

    var story = new Fulcrum.Story(storyAttributes);
    //story.collection = window.project.stories;
    window.project.stories.add(story);
    if (typeof view == 'undefined') {
      view = new Fulcrum.StoryView({model: story});
    }
    view.render();
    columnView.appendView(view);
    return view;
  }

  function appendIterationTo(columnView, iteration, view) {
    iteration.project = window.project;
    if (typeof view == 'undefined') {
      view = new Fulcrum.IterationView({model: iteration});
    }
    view.render();
    columnView.appendView(view);
    return view;
  }

  window.projectView = new Fulcrum.ProjectView({model: project});
  window.projectView.velocityView = new Fulcrum.ProjectVelocityView({
    model: project, el: $('#velocity')
  });
  window.projectView.scaleToViewport();
  $(window).resize(projectView.scaleToViewport);
  // hack: has to be resized one more time to fit perfectly
  setTimeout(projectView.scaleToViewport, 100);

  window.projectView.notice({
    'title': 'Test card',
    'text': 'This is a testcard to expose the full UI on one page'
  });
});
</script>

<% content_for :title_bar do %>
  <div id="velocity" class="velocity"></div>
  <div class="project_nav">
    <%= render :partial => 'projects/nav',
               :locals => {:project => @project } %>
               | <a id="add_story" class="button" href="#">
                  <i class="fa fa-plus"></i>
                  <%= t('add story') %>
                </a>
    <div class="column-toggles-wrap">
      <div id="column-toggles"></div>
    </div>
  </div>
<% end %>

<div id="messages">
  <div class="flash-alert">This is an example of a flash alert.</div>
  <div class="flash-notice">This is an example of a flash notice.</div>
  <div class="flash-error">This is an example of a flash error.</div>
</div>

<table class="stories" width="100%">
  <tbody>
    <tr>
      <td class="done_column" style="width: 25%"></td>
      <td class="in_progress_column" style="width: 25%"></td>
      <td class="backlog_column" style="width: 25%"></td>
      <td class="chilly_bin_column" style="width: 25%"></td>
    </tr>
  </tbody>
</table>
